@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Rubik+Marker+Hatch&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Code";
}

main {
  display: block; /* Cambiar a bloque para que no sea un contenedor flex */
  margin: auto; /* Establecer margen automático para centrar */
  max-width: 800px;
  position: relative;
  top: 30px;
  padding: 0 1.4em;
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 15px;
  text-align: center;

  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer > div {
  font-weight: 600;
}
.buggo {
  font-family: "Rubik Marker Hatch", system-ui !important;
  color: rgb(104, 98, 192);
}
.building {
  max-width: 100%;
  min-width: 40%;
  filter: grayscale(100%);
  animation: removeGrayscale 10s ease-in-out infinite;
}
.noLink {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid rgb(197, 197, 197);
  display: inline-block;
  line-height: 1;
}
.noLink:hover {
  border-bottom: 2px solid rgb(214, 94, 144);
}
.today {
  font-size: 14px;
  margin-right: 16px;
}
.posts {
  margin-top: 25px;
}
.posts > h4 {
  margin-bottom: 16px;
}
.post {
  margin: 10px 0px;
  display: flex;

  align-items: center;
}
@keyframes removeGrayscale {
  0% {
    filter: grayscale(100%);
    transform: scale(0.4);
  }
  50% {
    filter: grayscale(0%);
    transform: scale(0.8);
  }
  100% {
    filter: grayscale(100%);
    transform: scale(0.4);
  }
}
.pContent2 > p {
  margin: 15px 0;
}
.infoContent2 {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
